.catalog__title-wrapper {
  width: 282px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 715px;
    margin: 0 auto 163px;
  }

  @media (min-width: @tablet-width) {
    width: 1220px;
  }
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    width: 430px;
    white-space: nowrap;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
    row-gap: 144px;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
    margin: 0 auto 76px;
  }
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 22px auto;
  width: 282px;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
  padding: 19px 0 0 0;

  @media (min-width: @tablet-width) {
    width: 324px;
    background: #f2f2f2;
    justify-content: center;
    margin: 0 0 141px;
    border: 0;
  }

  @media (min-width: @desktop-width) {
    width: 235px;
    margin: 0;
  }
}

.catalog__item-wrapper {
  display: flex;
  flex-direction: column;
  width: 142px;
  margin: 0 0 22px 0;

  @media (min-width: @tablet-width) {
    width: 251px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 35px;
    width: 169px;
  }
}

.catalog__item-picture {
  align-self: center;
  margin: 0 36px 0 0;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.catalog__item-image {
  @media (min-width: @tablet-width) {
    position: relative;
    top: -75px;
  }
}

.catalog__item-title {
  margin: 0 0 18px 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 76px;

  @media (min-width: @tablet-width) {
    margin: 0 auto 21px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
  }

  @media (min-width: @tablet-width) {
    width: 145px;
  }
}

.catalog__item-description--weight-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 6px 0;

  @media (min-width: @tablet-width) {
    &:not(:last-child) {
      margin: 0 0 14px 0;
    }

    margin: 0 0 14px 0;
  }
}

.catalog__item-description--weight {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: @tablet-width) {
    position: relative;
    font-size: 16px;
    line-height: 16px;

    &::before {
      position: absolute;
      content: "";
      width: 250px;
      height: 1px;
      background-color: #cdcdcd;
      left: 1px;
      bottom: -10px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      position: absolute;
      content: "";
      width: 169px;
      height: 1px;
      background-color: #cdcdcd;
      left: 1px;
      bottom: -10px;
    }
  }
}

.catalog__item-description--weight-value {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.catalog__item-description--flavour-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 6px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 14px 0;
  }
}

.catalog__item-description--flavour {
  margin: 0 74px 0 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: @tablet-width) {
    position: relative;
    font-size: 16px;
    line-height: 16px;

    &::before {
      position: absolute;
      content: "";
      width: 250px;
      height: 1px;
      background-color: #cdcdcd;
      left: 1px;
      bottom: -10px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      position: absolute;
      content: "";
      width: 169px;
      height: 1px;
      background-color: #cdcdcd;
      left: 1px;
      bottom: -10px;
    }
  }
}

.catalog__item-description--flavour-value {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.catalog__item-description--price-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 6px 0;
}

.catalog__item-description--price {
  margin: 0 80px 0 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: @tablet-width) {
    position: relative;
    font-size: 16px;
    line-height: 16px;

    &::before {
      position: absolute;
      content: "";
      width: 250px;
      height: 1px;
      background-color: #cdcdcd;
      left: 1px;
      bottom: -10px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      position: absolute;
      content: "";
      width: 169px;
      height: 1px;
      background-color: #cdcdcd;
      left: 1px;
      bottom: -10px;
    }
  }
}

.catalog__item-description--price-value {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.button__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 248px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 35px;
  }
}

.catalog__item-button {
  border: 0;
  background-color: #68b738;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
  text-transform: uppercase;
  margin: 0 0 25px 0;
  cursor: pointer;

  &:hover {
    background: #5eaa2f;
  }

  &:active {
    background: #5eaa2f;
    color: #ffffff;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    padding: 10px 93px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 53px;
  }
}

.more__item {
  position: relative;
  padding: 53px 0 0 0;
  width: 280px;
  margin: 0 auto;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: @tablet-width) {
    width: 324px;
    justify-content: center;
    margin: 0 0 141px;
    align-items: center;
    display: flex;
    border: 2px solid #f2f2f2;
  }

  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    top: 3px;
    right: 123px;
    background: url("../img/catalog/svg/plus-icon.svg") no-repeat center;

    @media (min-width: @tablet-width) {
      top: 58px;
      right: 135px;
      background: url("../img/catalog/svg/plus-icon-tablet.svg") no-repeat center;
      width: 60px;
      height: 60px;
    }

    @media (min-width: @desktop-width) {
      right: 90px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 324px;
    justify-content: center;
    margin: 0 0 141px;
    align-items: center;
    display: flex;
    border: 2px solid #f2f2f2;
  }

  @media (min-width: @desktop-width) {
    width: 235px;
    margin: 0;
  }
}

.more__item-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.more__item-title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    color: #111111;
    margin: 0 0 23px 0;
    padding: 161px 0 0 0;
    width: 134px;
  }
}

.more__item-description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 87px 0;
    width: 167px;
  }
}

.more__item-button-wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
  }
}

.more__item-button {
  border: 0;
  background-color: #f2f2f2;
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 94px;
  text-transform: uppercase;
  margin: 0 0 25px 0;
  cursor: pointer;

  &:hover {
    background: #ebebeb;
  }

  &:active {
    background: #ebebeb;
    color: #444444;
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    padding: 20px 39px;
  }
}
