.live-example {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  background-color: #eaeaea;
  margin: 0 0 15px;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    width: 768px;
    margin: 0 auto 76px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    padding: 0 110px;
    width: 1220px;
    margin: 0 auto 3px;
  }
}

.live-example__wrapper {
  padding: 0 20px;
  width: 280px;
  margin: 0 auto;


  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    margin: 0;
    padding: 0;
  }
}

.live-example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 41px 0;
  padding: 24px 0 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 63px;
    padding: 23px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 146px 0;
    padding: 0;
  }
}

.live-example__description {
  margin: 0 0 20px 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 283px;

  @media (min-width: @tablet-width) {
    margin: 0 0 52px 0;
    font-size: 16px;
    line-height: 24px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 69px 0;
    width: 436px;
  }
}

.live-example-stats-list {
  padding: 0;
  margin: 0 0 34px 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;


  @media (min-width: @desktop-width) {
    margin: 0 0 42px 0;
    justify-content: flex-start;
  }
}

.live-example-stats-item {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 162px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.live-example-stats-item:not(:last-child) {
  margin: 0 28px 0 0;
}

.live-example-stats-wrapper {

  width: 280px;
  margin: 0 auto 22px;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 708px;
    margin: 0 auto 69px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    flex-direction: column;
  }
}


.live-example-stats-item-value {
  margin: 0 0 7px 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 42px 7px 42px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin: 0 0 11px 0;
    padding: 15px 57px 11px 57px;
    white-space: nowrap;
  }
}

.live-example-value-days {
  padding: 14px 21px 7px 20px;
  width: 89px;

  @media (min-width: @tablet-width) {
    padding: 15px 30px 11px 30px;
  }
}

.live-example-value-weight {
  width: 39px;
}

.live-example-stats-item-index {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  position: absolute;
  background-color: #eaeaea;
  top: 46px;
  right: 18px;
  width: 87px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    color: #444444;
    background-color: #ffffff;
    left: 25px;
    top: 66px;
    white-space: nowrap;
    width: 114px;

    br {
      display: none;
    }
  }
}

.live-example-index-days {
  right: 20px;

  @media (min-width: @tablet-width) {
    left: 10px;
    width: 142px;
  }
}

.live-example-cost {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    display: block;
    text-align: center;
    margin: 0 0 0 auto;
    padding: 15px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: flex-start;
  }
}

.live-example-cost__value-price {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: end;
    text-transform: uppercase;
  }
}

.live-example-cost__value {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 5px 0 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 174px;
    text-align: end;
    margin: 0 0 9px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 63px 0 0;
    width: 174px;
    text-align: start;
  }
}

.live-example-picture-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 0 20px 0;

  @media (min-width: @desktop-width) {
    margin: 0 0 0 auto;
    padding: 0 0 80px;
    align-items: center;
  }
}

.live-example-image-before {
  width: 100%;
  height: 100%;
}

.live-example-image-after {
  width: 100%;
  height: 100%;
}

.live-example-range-slider {
  position: relative;
}

.live-example-range-slider__toggle {
  position: absolute;
  left: 50%;
  margin-left: -2px;

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.live-example-range-slider__button {
  position: absolute;
  top: 40%;
  right: -23px;
  border: 0;
  background: transparent;
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  @media (min-width: @tablet-width) {
    top: 47%;
  }

  @media (min-width: @tablet-width) {
    right: -23px;
  }
}


.live-example-range-slider__button:hover+.live-example-range-slider__track {
  background-color: #68b738;
}

.live-example-range-slider__track {
  width: 4px;
  height: 260px;
  border-radius: 2px;
  background-color: #666666;

  @media (min-width: @tablet-width) {
    height: 512px;
  }
}

.live-example-picture-background {
  position: relative;

  @media (min-width: @tablet-width) {
    &::before {
      height: 462px;
      width: 768px;
      position: absolute;
      content: "";
      background: #eaeaea;
      top: 380%;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      display: none;
    }
  }
}
