.location-point iframe {
  border: none;
  display: block;
  width: 100%;
}

.location-point {
  margin: 0 0 39px 0;
}

.location-point-catalog iframe {
  border: none;
  display: block;
  width: 100%;
  height: 400px;
}

.location-poin-catalog {
  margin: 0 0 3px;
}
