.main-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.copyright__htmlacademy {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;
}
