.main-header {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 0 20px;
  margin: 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 50px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 65px;
  justify-content: center;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 709px;
  }
}

.main-header__logo-wrapper {
  display: flex;
  align-items: center;
  padding: 23px 0 11px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.main-header__logo-image {
  margin: 0 56px 0 0;
}

.main-header__logo-text {
  margin: 0 auto;
}

.main-header-logo-picture {
  width: 33px;
  height: 37px;
}

.main-header__logo-text img {
  height: 18px;
  width: 101px;
  margin: 0 90px 0 0;
}

@media (min-width: @tablet-width) {
  .main-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin: 26px auto 0 auto;
  }

  .main-header-logo-picture {
    width: 174px;
    height: 51px;
  }

  .main-header__logo-text {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-header__wrapper {
    width: 1220px;
    margin: 53px auto 103px;
  }

  .main-header__logo-wrapper {
    display: flex;
  }

  .main-header-logo-picture {
    width: 100%;
    height: 100%;
  }

  .main-header__logo-text img {
    margin: 0 94px 0 0;
  }
}
