.program-type {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.slim__wrapper {
  background: #f2f2f2;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.slim__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.slim__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.slim__catalog-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.pro__wrapper {
  background: #f2f2f2;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.pro__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.pro__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.pro__catalog-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .program-type__wrapper {
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .program-type__wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
  }
}
