.program {
  width: 280px;
  margin: 25px auto 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
    margin: 55px auto 0;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 110px;
  }
}

.program-type-container {
  margin: 0 auto;
  min-width: 330px;


  @media (min-width: @tablet-width) {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 708px;
    padding: 0 41px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    display: flex;
    flex-direction: row;
    margin: 0 auto 51px;
    padding: 0;
  }
}

.program-title-wrapper {
  width: 310px;
  margin: 0 0 39px 0;

  @media (min-width: @tablet-width) {
    padding: 0 39px;
    width: 708px;
    margin: 0 0 63px 0;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.program-type-title {
  margin: 0 0 37px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    margin: 0 0 56px 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.program-type-description {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 323px;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
  }
}

.program-type-info {
  display: flex;
  flex-direction: column;
  border: 0;
  margin: 0 0 19px;
  align-items: center;
  padding: 0;
  width: 280px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0 0 68px;
  }

  @media (min-width: @desktop-width) {
    align-items: flex-start;
    padding: 0;
    margin: 0 80px 0 0;
  }
}

.program-type-radio {
  border: 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0;
  margin: 0 auto 8px;
  width: 330px;

  @media (min-width: @tablet-width) {
    width: 708px;
    border: 1px solid #e7e7e7;
    margin: 0 auto 49px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    display: flex;
    padding: 34px 0 8px 20px;
    margin: 0;
    border: 1px solid #e7e7e7;
    height: 200px;
    box-sizing: border-box;
  }
}

.radio-field {
  appearance: none;
}

.program-type-radio-label {
  position: relative;
  display: block;
  padding-left: 36px;
  margin: 0 0 20px 0;

  @media (min-width: @tablet-width) {
    padding-left: 54px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 22px;
  }
}

.radio-mark {
  position: absolute;
  top: -8px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 25px;
  cursor: pointer;

  &:hover {
    border: 1px solid #bababa;
    content: "";
    background: url("../img/form/svg/radio-button.svg") no-repeat center;
  }

  &:disabled {
    opacity: 0.3;
    border: 1px solid #bababa;
    background: url("../img/form/svg/radio-button-disabled.svg") no-repeat center;

    &:focus-visible {
      background: #5eaa2f;
      outline: 0;
    }
  }

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    left: 26px;
    top: -6px;
  }

  @media (min-width: @desktop-width) {
    left: 7px;
    top: -7px;
  }
}

.radio-field[type="radio"]:checked+.radio-mark::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background: url("../img/form/svg/radio-button.svg") no-repeat center;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.radio-field:focus-within+.radio-mark {
  background: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.program-form {
  width: 280px;
  margin: 0 0 16px;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  .program-form:not(:last-child) {
    margin: 0 0 15px;

    @media (min-width: @desktop-width) {
      margin: 0 0 21px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 569px;
  }
}

.program-form__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  margin: 0 8px 0 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0 13px 0 0;
  }

  @media (min-width: @tablet-width) {
    margin: 0 11px 0 0;
  }
}

.program-form__input {
  padding: 9px 0 9px 14px;
  border: 1px solid #e7e7e7;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  appearance: textfield;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 1px solid #444444;
    outline: 0;
  }

  @media (min-width: @tablet-width) {
    width: 547px;
    padding: 16px 0 8px 19px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 24px 11px 20px;
  }
}

.input-name {
  width: 211px;

  @media (min-width: @tablet-width) {
    width: 545px;
  }

  @media (min-width: @desktop-width) {
    width: 506px;
    box-sizing: border-box;
  }
}

.input-weight {
  width: 189px;

  @media (min-width: @tablet-width) {
    width: 520px;
  }

  @media (min-width: @desktop-width) {
    width: 477px;
    box-sizing: border-box;
  }
}

.input-age {
  width: 156px;

  @media (min-width: @tablet-width) {
    width: 479px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    box-sizing: border-box;
  }
}

.program-type-radio-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.program-type-radio-item {
  @media (min-width: @tablet-width) {
    margin: 0 0 13px 0;
  }
}

.program-type-radio-item:not(:last-child) {
  margin: 0 0 3px 0;

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.radio-label {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    padding: 0 20px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 1px;
    margin: 0 0 22px;
  }
}

.program-type-contacts {
  border: 0;
  padding: 0;
  width: 330px;
  margin: 0 auto 12px;


  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto 46px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 65px;
    padding: 0;
  }
}

.program-type-contacts-title {
  width: 187px;
  position: relative;
  margin: 0 0 33px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  &::before {
    position: absolute;
    content: "";
    width: 99px;
    height: 2px;
    background-color: #68b738;
    display: block;
    right: -120px;
    top: 15px;

    @media (min-width: @tablet-width) {
      width: 145px;
      right: -50px;
      top: 22px;
    }

    @media (min-width: @desktop-width) {
      width: 778px;
      right: -125px;
      top: 22px;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      background-color: #68b738;
      display: block;
      left: -69px;
      top: 23px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0 0 76px 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 0 39px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0 0 75px 0;
  }
}


.program-contacts-container {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    margin: 0;
    align-items: center;
    width: 708px;
    padding: 0 0 0 39px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
}

.program-contacts-wrapper {
  position: relative;
  margin: 0 0 14px 0;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    margin: 0 0 22px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 647px;
    margin: 0 2px 0 0;
  }
}

.wrapper-email {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: url("../img/form/svg/email-icon.svg") no-repeat center;
    width: 50px;
    height: 53px;
    z-index: 1;
    right: 52px;
    top: -3px;

    @media (min-width: @tablet-width) {
      right: 80px;
      top: 1px;
    }

    @media (min-width: @desktop-width) {
      right: 85px;
      top: 0;
    }
  }
}

.wrapper-phone {
  position: relative;


  &::before {
    position: absolute;
    content: "";
    background: url("../img/form/svg/phone-icon.svg") no-repeat center;
    width: 20px;
    height: 20px;
    z-index: 1;
    top: 15px;
    right: 64px;

    @media (min-width: @tablet-width) {
      right: 94px;
    }

    @media (min-width: @desktop-width) {
      right: 20px;
      top: 17px;
    }
  }
}

.program-type-contact {
  margin: 0 7px 0 0;
  text-transform: uppercase;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0 18px 0 0;
  }

  @media (min-width: @tablet-width) {
    margin: 0 22px 0 0;
    white-space: nowrap;
  }
}

.program-type-contacts-input {
  position: relative;
  border: 1px solid #cdcdcd;
  padding: 12px 13px 7px 13px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;

  @media (min-width: @tablet-width) {
    padding: 10px 13px 6px;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 1px solid #444444;
    outline: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 20px 14px 16px;
  }
}

.input-email {
  width: 190px;

  @media (min-width: @tablet-width) {
    width: 511px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 78px 0 0;
    width: 486px;
  }
}


.input-tel {
  width: 173px;

  @media (min-width: @tablet-width) {
    width: 488px;
  }

  @media (min-width: @desktop-width) {
    width: 429px;
  }
}

.program-type-comment {
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  width: 301px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 0 39px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0;
    margin: 0 0 27px 0;
  }
}

.comment-title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 38px 0;

  &::before {
    position: absolute;
    content: "";
    width: 158px;
    height: 2px;
    background-color: #68b738;
    display: block;
    right: -22px;
    top: 15px;

    @media (min-width: @tablet-width) {
      width: 478px;
      right: -38px;
      top: 23px;
    }

    @media (min-width: @desktop-width) {
      width: 1108px;
      right: -120px;
      top: 23px;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      background-color: #68b738;
      display: block;
      left: -69px;
      top: 23px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 74px;
  }
}

.comment-field {
  align-self: center;
  width: 280px;
  height: 150px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  text-align: center;
  padding: 9px 0;
  margin: 0;
  resize: none;

  @media (min-width: @tablet-width) {
    width: 600px;
    align-self: flex-start;
    text-align: start;
    padding: 10px 19px;
    margin: 0 0 65px 0;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    box-sizing: border-box;
  }
}

.program-type-extra {
  margin: 0 auto;
  padding: 0;
  border: 0;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 39px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0;
  }
}

.program-extra-label {
  position: relative;
  display: block;
  padding-left: 34px;
  margin: 0 0 23px 0;

  @media (min-width: @tablet-width) {
    padding-left: 29px;
    margin: 0 0 10px;
  }
}

.control-mark {
  position: absolute;
  top: -4px;
  left: 0;
  width: 26px;
  height: 26px;
  border: 1px solid #cdcdcd;
  cursor: pointer;

  &:hover {
    border: 1px solid #bababa;
    content: "";
    background: url("../img/form/svg/tick-arrow.svg") no-repeat center;
  }

  &:disabled {
    opacity: 0.3;
    border: 1px solid #bababa;
    background: url("./img/form/svg/tick-arrow-disabled.svg") no-repeat center;
  }

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    top: -3px;
  }
}

.program-extra-checkbox[type="checkbox"]:checked+.control-mark::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  background: url("../img/form/svg/tick-arrow.svg") no-repeat center;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.program-extra-checkbox:focus-within+.control-mark {
  background: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.program-extra-title {
  position: relative;
  margin: 0 0 41px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  &::before {
    position: absolute;
    content: "";
    width: 136px;
    height: 2px;
    background-color: #68b738;
    display: block;
    right: -22px;
    top: 15px;

    @media (min-width: @tablet-width) {
      width: 446px;
      right: -38px;
      top: 23px;
    }

    @media (min-width: @desktop-width) {
      width: 1108px;
      right: -120px;
      top: 23px;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      background-color: #68b738;
      display: block;
      left: -69px;
      top: 23px;
    }
  }

  @media (min-width: @tablet-width) {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 65px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 63px 0;
  }
}

.program-extra-list {
  margin: 0 0 37px 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 231px 231px;
    column-gap: 114px;
    row-gap: 32px;
    margin: 0 0 47px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 57px;
    column-gap: 95px;
    grid-template-columns: 229px 228px 233px 221px 235px;
  }
}

.extra-checkbox-label {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 0 0 0 20px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

.program-extra-checkbox {
  appearance: none;
}

.program-type-button-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    width: 630px;
    margin: 0 auto 76px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0;
    margin: 0 auto 82px;
  }
}

.program-type-button {
  margin: 0 0 8px 0;
  background: #68b738;
  border: 0;
  height: 40px;
  padding: 7px 44px;
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: #ffffff;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin: 0 67px 0 0;
    padding: 13px 45px;
    height: 52px;
    min-width: 282px;
    font-size: 20px;
    line-height: 0px;
  }

  @media (min-width: @desktop-width) {
    min-width: 568px;
    margin: 0 81px 0 0;
  }
}

.program-type-button-description {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
