.promo {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.promo__wrapper {
  background: rgba(104, 183, 56, 0.85);
  height: 302px;
  margin: 0 0 138px 0;

  @media (min-width: @tablet-width) {
    background: #ffffff;
  }
}

.promo__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin: 0;
  padding: 27px 35px;
  text-align: center;


  @media (min-width: @tablet-width) {
    color: #000000;
  }
}

.promo__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    color: #000000;
  }
}

.promo__program-link {
  margin: 0 auto;
  display: block;
  height: 40px;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  text-transform: uppercase;
}
